

    <footer>
        <div class="conditions">
            <a href="/cgu">CGU</a>
            <a href="/aboutUs">A propos de nous</a>
            <a href="/faq">Foire aux questions</a>
        </div>
      
    </footer>

