<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
		/>
		<link rel="shortcut icon" href="../images/favicon.io" />
		<title>Météose</title>
	</head>
	<body>
		<!------------------HEADER------------------>
		<header>
			<!------------------LOGO------------------>
			<div class="headerLeft">
				 <a  href="/" style="text-decoration: none;" >   <h1>Meteose2.0</h1>     </a>
			</div>

			<!------------------CONNEXION------------------>
			<div class="headerRight">				
				<div>
					<a href="/signup" class="headerButton">Créer un compte</a>
					<a href="/login" class="headerButton">Se connecter</a>
				</div>
			</div>
		</header>
	</body>
</html>