<div class="results">

    <% if(temp !== null)  {%>
 <div class="drop1"><%= temp  %> °C</div>
 <% } %>

 <% if(des !== null)  {%>

    <div class="drop2"><%= des %></div>
    <% } %>


    <% if(city !== null)  {%>
<div class="drop3"><%= city %></div>
<% } %>


 </div