<body>
    <div id="body">

		<%- include('partials/header') %>

		<div class="container">
			<main>
				<form class="conditionsForms">
					<div id="cgu">
						<a class="conditionsTitle">A propos de nous</a>
						<h2>Voici les personnes qui forment le groupe Météose:</h2>
						<p>Nadège JACCY: Lead Dev Front</p>
						<p>Samy RINGUET: Scrum Master</p>
						<p>Cédric SAINT-CHARLES: Lead Dev Back</p>
						<p>David VIDAL: Product Owner & Référent Technique Git</p>
					</div>
				</form>
			</main>
		</div>

		<%- include('partials/footer') %>

	</div>
</body>