
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/style4.css" />
		
		<title>Astrogames!!!</title>

        
	</head>

<body>


   
  
  
  <div id="nightSkyContainer">
    <night-sky
        id="nightSky"
        layers="2"
        density="30"
        velocity-x="60"
        velocity-y="60"
        star-color="#FFF"
        background-color="black">
    </night-sky>
</div>

<div class="text-container">
 
  <%- include('partials/header') %>

  

  
  

  <%- include('partials/footer') %>

</div>


    

    <script src="https://unpkg.com/@h0rn0chse/night-sky/dist/bundle.min.js"></script>



 
  </body>
  </html>