<body>
    <div id="body">

		<%- include('partials/header') %>

		<div class="container">
			<main>
				<form class="conditionsForms">
					<div id="cgu">
						<a class="conditionsTitle">C.G.U.</a>
						
				
					
						<p>Vous pouvez utiliser Meteose comme bon vous semble!</p>
					</div>
				</form>
			</main>
		</div>

		<%- include('partials/footer') %>

	</div>
</body>