
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/style.css" />
		
		<title>Météose</title>
	</head>

<body>
    <div id="body">

		<%- include('partials/header') %>

		<div class="container">
			<main>
				<form class="conditionsForms">
					<div id="cgu">
						<a class="conditionsTitle">Accessibilité numerique</a>
						<h1 class="typeshit"  >Nos Engagements en Matière d'Accessibilité
						</h1>
						<p>Structure Claire et Logique : </p>
						<p>Descriptions Complètes des Balises </p>
						<p>Compatibilité avec les Technologies d'Assistance : </p>
						<p>Formulaires Accessibles : </p>
						<p>Contraste des Couleurs.</p>
						<h1 class="typeshit"  >Adaptation aux Différents Appareils :</h1>
						<p> Notre site est responsive</p>
						<p class="improve">L’accessibilité est un processus continu et nous nous engageons à l’améliorer constamment. Si vous rencontrez des difficultés d'accès à notre site ou si vous avez des suggestions pour améliorer notre accessibilité, veuillez nous contacter à c.saint.charles.csc@gmail.com</p>
					</div>
				</form>
			</main>
		</div>

		<%- include('partials/footer') %>

	</div>
</body>

</html>