
<body>
    <div id="body">

		<%- include('partials/header') %>

		<div class="container">
			<main>
				<form class="conditionsForms">
					<div id="cgu">
						<a class="conditionsTitle">F.A.Q.</a>
						<li>Qu'est-ce que Météose?</li>
						<p>Météose est l’outil indispensable pour savoir le temps qu’il fait dans tous les coins du monde qui nous intéressent. </p>
						<p>Dans un premier temps, Météose propose de consulter la météo de la ville souhaitée et si nous sommes connectés, nous pouvons gérer notre liste de villes favorites.</p>
						<p>Par la suite, on pourrait proposer plusieurs listes de villes favorites pour les connectés. un système de géolocalisation pour afficher la météo du lieu où on se trouve pour les heures et jours à venir.</p>
						<li>Quelle est la cible?</li>
						<p>La personne qui souhaite connaître le temps près de chez elle pour les heures/jours à venir.
						L’aventurier qui organise son périple en prenant en compte la météo d’une liste de villes jalonnant son parcours.
						Le touriste qui part en voyage organisé et qui souhaite savoir s’il prend des pulls ou des maillots de bain dans sa valise.
						La mamie qui d’un simple coup d'œil sur Météose peut savoir le temps qu’il fait chez tous ses proches.</p>
					</div>
				</form>
			</main>
		</div>

		<%- include('partials/footer') %>

	</div>
</body>