
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/style.css" />
		
		<title>Météose</title>
	</head>

<body >
    <div id="body1">

		<%- include('partials/header') %>

		<div class="container">
			<main>
			<div class="rgpd">
<h1 class="typeshit">Politique de Confidentialité et Conformité RGPD
</h1>
<br>
<p>Nous attachons une grande importance à la protection de vos données personnelles et à la transparence quant à la manière dont nous les utilisons. Conformément au Règlement Général sur la Protection des Données (RGPD), nous souhaitons vous informer sur la collecte, l'utilisation et la protection de vos données personnelles sur notre site web</p>
<br>

<h6 class="typeshit">Collecte des Données Personnelles</h6>
<br>

<p>
	Lorsque vous créez un compte sur notre site, nous collectons les informations suivantes : Adresse email ,Mot de passe , Pseudo.
	Ces données sont essentielles pour la création de votre compte et vous connecter à notre site.</p>
	<br>

	<h2 class="typeshit" >Utilisation des Données
	</h2>
	<br>

<p>Les données que vous fournissez ne sont utilisées qu'aux fins suivantes :

	Création et gestion de votre compte utilisateur.
	Authentification lors de la connexion à votre compte.
	Nous ne commercialisons pas vos données personnelles et ne les transmettons à aucun tiers.</p>
	<br>

	<h3 class="typeshit" >Conservation et Suppression des Données
	</h3>
	<br>

<p>Vos données personnelles sont conservées dans notre base de données uniquement pour la durée nécessaire à l’utilisation de votre compte. Vous avez plusieurs options pour supprimer vos données :

	Suppression de compte : En supprimant votre compte directement depuis votre espace utilisateur vous effacez automatiquement vos données de notre base.</p>
	<h4  class="typeshit" >Utilisation des Cookies
	</h4>
	<br>

	<p>Nous utilisons des cookies sur notre site pour les raisons suivantes :

		Statistiques et mesure d’audience : Les cookies nous aident uniquement à mesurer l’audience du site web.
		</p>
		<br>

		<h5 class="typeshit"  >Vos Droits
		</h5>
		<br>

		<p>Conformément au RGPD, vous disposez des droits suivants concernant vos données personnelles (cookies) :

			Droit d’accès : Vous pouvez demander à accéder aux données personnelles que nous détenons à votre sujet.
			Droit de rectification : Vous pouvez demander la correction de vos données personnelles si elles sont inexactes ou incomplètes.
			Droit à l’oubli : Vous pouvez demander la suppression de vos données personnelles.
			Droit à la portabilité : Vous pouvez demander que vos données personnelles vous soient transmises ou soient transmises à un autre responsable du traitement.
			Pour exercer ces droits, veuillez nous contacter à c.saint.charles.csc@gmail.com.</p>
			</div>
			</main>
		</div>

		<%- include('partials/footer') %>

	</div>
</body>

</html>