<body>
  <div id="body">

     <%- include('partials/header') %>
     
     <div class="container">
        <main>
          <form class="forms" id="signupForm" aria-labelledby="signupFormTitle">
              <h1 class="bienvenue" id="signupFormTitle" >Inscription</h1>
              <label for="pseudo">Pseudo</label>
              <input type="text" name="pseudo" id="pseudo" placeholder="Pseudo" class="input" required aria-required="true"/><br />

              <label for="email">Email</label>
              <input type="email" name="email" id="email" placeholder="Email" class="input" required aria-required="true"/><br />

              <label for="password">Mot de passe</label>
              <input type="password" name="password" id="password" placeholder="Password" class="input" required aria-required="true"/><br />

              <label>
                  <input type="checkbox" id="privacyPolicy" required aria-required="true"/>
                  J'accepte la <a href="/rgpd" target="_blank">politique de confidentialité</a>
              </label><br />

              <button type="button" id="submitBtn" aria-label="Créer un compte">Créer un compte</button><br /> 
              <a href="/login">Vous possédez déjà un compte ? Connectez-vous</a>
          </form>
      </main>
     </div>
     
     <%- include('partials/footer') %>

</div>



 <script>
document.getElementById('submitBtn').addEventListener('click', submitForm);

async function submitForm() {
  const form = document.getElementById('signupForm');
  const pseudo = form.querySelector('[name="pseudo"]').value;
  const email = form.querySelector('[name="email"]').value;
  const password = form.querySelector('[name="password"]').value;
  

  // Vérifier les caractères spéciaux dans le pseudo
  if (!isValidInput(pseudo)) {
    console.error('Invalid characters in pseudo');
    return;
  }

  // Vérifier les caractères spéciaux dans l'e-mail
  if (!isValidEmail(email)) {
    console.error('Invalid characters in email');
    return;
  }




  // Déplacer la déclaration de formData ici
  const formData = {
    pseudo: pseudo,
    email: email,
    password: password,
  };

  try {
    const response = await fetch('/signup', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(formData),
    });

    if (response.ok) {
      console.log('User information successfully submitted');
      document.querySelector(".bienvenue").innerHTML = "Compte créé avec succès!";
    } else {
      console.error('Failed to submit user information');
    }
  } catch (error) {
    console.error('An error occurred:', error);
    // Gérer l'erreur ici
  }
}

// Les fonctions isValidInput et isValidEmail restent inchangées
function isValidInput(input) {
  const regex = /^[a-zA-Z0-9_-]+$/;
  return regex.test(input);
}

function isValidEmail(email) {
  const regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
  return regex.test(email);
}

 </script>










</body>
